#README.org#
early-init.el
eln-cache/
history
init.el
org-roam.db
places
projectile-bookmarks.eld
recentf
straight
auto-save-list
tmp
.cache
.lsp-session-v1
.org-id-locations
bookmarks
eclipse.jdt.ls
elpa
transient
workspace
eshell
/multisession/
/url/
/projectile.cache
/tramp
