#README.org#
early-init.el
eln-cache/
history
init.el
org-roam.db
places
projectile-bookmarks.eld
recentf
straight
auto-save-list
tmp
.cache
.lsp-session-v1
.org-id-locations
bookmarks
eclipse.jdt.ls
elpa
transient
workspace
eshell
/multisession/
/url/
/projectile.cache
/tramp
/persist/
/request/
/oauth2-auto.plist
/.org-generic-id-locations
/session.1022c27624c1de000169004607300000026550006
/.dap-breakpoints
/emojis/
/bookmarks~
/custom.el
/timelog
/eglot-java-eclipse-jdt-cache/
/projects
/session.1022c27624c1de000169081879400000038390003
/session.1022c27624c1de000169104641100000034340003
/undo-fu-session/
/share/
/.last-package-update-day
